.truck-alternative {
    width: 150px;
    height: 150px;
    border: 2px solid blue;
    border-radius: 20px;
    text-align: center;
    background-color: #efefff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: 1rem;
    margin-right: 1rem;
}


.selected {
    border: 2px solid red;
    background-color: #ffefef;
}

.truck-size-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 2rem;

}