// Include any default variable overrides here (though functions won't be available)
$body-color: #1E1E1E;

@import "../node_modules/bootstrap/scss/bootstrap";

html,
body,
#root {
    min-height: 100%;
    height: 100%;
}

#root {
    font-family: 'Roboto,Helvetica Neue,Noto Sans,Liberation;';
}

p {
    text-align: justify;
}

.bold {
    font-weight: bold;
}

.pointer {
    cursor: pointer;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.left-section {
    @extend .center;
    position: relative;
    z-index: 1;
    overflow: hidden;
}

.left-section:before {
    @extend .center;

    z-index: -1;
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;

    content: url(../public/assets/trucksAI.png);
    opacity: 0.2;
}

.btn-outline-left-primary {
    @extend .btn-outline-primary;
    background: #E3E3E3;
}

.btn-outline-left-primary:hover {
    background: #E3E3E3;
}